@media (max-width:375px) {
    .ant-drawer {
        width: 100% !important;
        height: 100% !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
    }
    
}

.Primary {
    background-color: darkcyan;
    border: 1px solid #d9d9d9;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.ant-drawer-header {
    background-color: darkcyan;
    color: azure;
}

.ant-drawer-body {
    padding: 0px !important;
}

.ant-drawer-content {
    width: 100% !important;
    height: auto !important;
    background-color: blue !important;
}