.Primary {
    background: #1800AD;
    background: radial-gradient(circle,rgba(0, 74, 173, 1) 0%, rgba(0, 74, 173, 1) 30%, rgba(24, 0, 173, 1) 100%);
    border: 1px solid #d9d9d9;
    filter: drop-shadow(0 0 0.1 rgb(0, 0, 0));
    height: 50%;
}

.ant-drawer-header {
    background: #1800AD;
    background: linear-gradient(90deg,rgba(24, 0, 173, 1) 0%, rgba(0, 74, 173, 1) 60%, rgba(221, 220, 215, 1) 100%);
    color: azure;
}

.ant-drawer-body {
    padding: 0px !important;
}

.ant-drawer-content {
    width: 100% !important;
    height: auto !important;
    background-color: blue !important;
}

.ant-drawer-content-wrapper {
    height: auto !important;
}