<ul class="stack-cards js-stack-cards">
  <li class="stack-cards__item sg0-bg-light sg0-radius-lg sg0-inner-glow sg0-shadow-md js-stack-cards__item">
    <div class="sg0-flex sg0-flex-center">Card One</div>
  </li>

  <li class="stack-cards__item sg0-bg-light sg0-radius-lg sg0-inner-glow sg0-shadow-md js-stack-cards__item">
    <div class="sg0-flex sg0-flex-center">Card Two</div>
  </li>

  <li class="stack-cards__item sg0-bg-light sg0-radius-lg sg0-inner-glow sg0-shadow-md js-stack-cards__item">
    <div class="sg0-flex sg0-flex-center">Card Three</div>
  </li>
</ul>