.App {
  text-align: center;
  overflow: hidden;
  background-color: #4b0000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.DANGER {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: flex-start;
  background-color: aliceblue;
}

.banner h1 {
  width: 100%;
  text-align: center;
}

.banner h2 {
  width: 100%;
  text-align: center;
}